# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


## Backend 
# Binaries for the current project
*.exe
*.dll
*.so
*.dylib
*.wasm

# Test binaries
*_test

# Build output
bin/
pkg/

# Dependency management
# If using Go Modules, 'vendor/' is generally not committed.
vendor/

# IDE and editor files
.idea/
.vscode/
*.swp
*.bak
*~

# Operating system files
.DS_Store
Thumbs.db

# Log files
*.log

# Environment variables
.env

# Agents
AGENTS.md